.like-icon {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-color, #000000);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color, #000000);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color, #000000);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:is(:active, :focus-visible) .core {
  fill: var(--animation-fill-color, #FF0000);
  transition: fill 0.3s linear;
}

.card__icon-button:is(:active, :focus-visible) .main-body {
  fill: var(--animation-fill-color, #FF0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #FF0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #FF0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon.is-liked .heart {
  animation: heartbeat 0.3s ease-in 0.1s;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
    fill: var(--animation-fill-color, #FF0000);
  }
  50% {
    opacity: 1;
    fill: var(--animation-fill-color, #FF0000);
  }
  100% {
    opacity: 0;
    fill: var(--animation-fill-color, #FF0000);
  }
}